{% block content %}

<p>
Вот и последний раунд!
</p>
<p>
Появилась информация, что Сумасшедший Жабен мог жульничать, поэтому судьи попросили
вас проверить математические знания Жабена. <br>
Ваша цель - придумать Жабену такую задачу, с которой он просто не справится.
</p>
<p>
</p>
<form action="/gipos" method="POST">
  <input type="submit" value="Решить квадратное уравнение" name="exp"> <br>
  <input type="submit" value="Доказать, что алгебраические уравнения 5 степени не имеют решения в радикалах" name="exp"> <br>
  <input type="submit" value="Доказать Гипотезу Пуанкаре" name="exp">
</form>

<p>{{final}}</p>
<a href="prizz.html"><p>{{screen}}</p></a>

{% endblock %}

