{% block content %}
<p>Иван из Твери</p>

<p><img src="ivan.png" alt="mnogo" width="400" height="450"></p>

<p>   Нам нужно проверить список участников...<br>
      Вроде всё верно... странно..<br>
      В общем, эта странная жаба тоже дошла до финала нашего турнира<br>
      Неизвестно, где такой вид жаб проживает (он постоянно твердит про какую-то Тверь), но она в дестве явно кушала много стрекоз<br>
      Думаю, с ней у вас много шансов на победу</p>


<p>
Если вам кажется, что эта жабка подозрительно себя ведёт, то вы можете
<a href="javascript:history.back()">вернуться к выбору</a>
</p>

<p>
Если же вы готовы к бою, то можете 
<a href="prime">НАЧАТЬ БИТВУ!</a>
</p>




{% endblock %}