{% block content %}
<p>Шустрый Крокус</p>

<p><img src="krokus.png" alt="aaabbb" width="400" height="300"></p>

<p>   Познакомтесь с Шустрым Крокусом!
      Будучи подростком, он был хулиганом, воровавшим букашки у торговцев мух и стрекоз.<br>
      Однажды он пересек дорогу не тем ребятам - нарвался на бадну цапель "Крылатая Братва".<br>
      Теперь чтобы вернуть долг боссу Большому Цапляку ему нужно стать номером 1 в нашем турнире.<br>
      И он уже дошёл до финала! Осталось поднажать и вы можете ему в этом помочь!</p>


<p>
Если вам эта жабка не угодила, то вы можете
<a href="javascript:history.back()">вернуться к выбору</a>
</p>

<p>
Если же вы готовы к бою, то можете 
<a href="prime">НАЧАТЬ БИТВУ!</a>
</p>




{% endblock %}