{% block content %}
<p>Аффинное жабообразие</p>

<p><img src="mnogo.png" alt="mnogo" width="250" height="450"></p>

<p>   Познакомтесь с веселой семейкой жабок!
      Это наверное самая большая семья в нашей жабьей имерии и эти жабки никогда не расстаются друг с другом<br>
      Однажды им перешла дорогу какая-то огромная жаба в странном жёлтом одеянии<br>
      Больше эту жабку никто и никогда не видел... Говорят, что её похитили и заставляют заниматься линейной алгеброй<br>
      Они смогли пройти в финал нашего турнира! Одна жаба хорошо, а много - лучше!</p>


<p>
Если вам страшно от такого количества жаб, то вы можете
<a href="javascript:history.back()">вернуться к выбору</a>
</p>

<p>
Если же вы готовы к бою, то можете 
<a href="prime">НАЧАТЬ БИТВУ!</a>
</p>




{% endblock %}