{% block content %}

<p>
     Вот и ваш противник - Сумасшедший Жабен! Говорят, что у него невероятные знания <br>
     в математике, и вам придется помериться с ним интеллектуальными силами! <br>
     Вы кажется чем-то удивлены? Вы же не думали, что мы будем драться? <br>
     Ещё ни одна жабка не пострадала в нашем чемпионате, а в Жабьей Империи в первую очередь <br>
     ценятся знания.
</p>
<p>
Первый раунд! Вы атакуете! Задача вашего оппонента - сказать, простое ли то число, которое вы задали
</p>
<form action="/prime" method="POST">
  <input type="text" name="prime"/>
  <input type="submit" value="Простое ли?">
</form>

<p>{{jabprime}}</p>

<a href="evkl">{{ready}}</a>

{% endblock %}

